.setup {
    background: url(../images/slider/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.caption {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}
.centerinput {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
}
.caption h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}
.caption .btn-start {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
    margin-top: 40px;
}
.caption .btn-start:hover {
    color: #fff
}
.caption a:hover {
    color: gray;
}

.wh {
  color: white;
}

.btn:hover{
  color: gray;
}

.window{
  background-color: #f9fafb;
}

ul.nav-tabs {
  background-color: #eeeff1;
  border: none;
}

ul.nav-tabs > li.active > a {
    background-color: #f9fafb;
}

ul.nav-tabs li a{
  color: #777;
  background-color: #dbdcdf;
  border: none;
  margin: 0;
}

ul.nav-tabs li {
  margin: 0;
  min-width: 200px;
  background-color: transparent;
}

.dropdown-toggle:active, .open .dropdown-toggle {background:#028fcc !important; color:white !important;}

ul.dropdown-menu {
  width: 100%;
  margin: 0;
  padding: 0 0 0 0;
  color: #eee;
  background-color: transparent;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
  box-shadow: 0 5px 15px rgba(0,0,0,0);
  border: none;
}

.dropdown-menu a{
    color: #eee !important;
}

.dropdown-menu a:hover{
    background-color: #eeeff1 !important;
    color: #333 !important;
}

ul.nav a{
  color: #eee;
}

ul.nav a:hover{
  color: #eee;
  background-color: #028fcc;
  border-color:  #028fcc;
}

.btn-home a{
  color: inherit;
  text-decoration: none;
}
.btn-home{
  position:relative;
  height:30px;
  background-color: transparent;
  width: 100%;
  padding-left: 40px;
  padding-top: 5px;
  border: none;
}
.btn-home:hover{
  color: #cbc8c8;
}

.home-header{
  height: 5vh;
  text-align: left;
  background-color: #eeeff1;
}

.caption h1 span,
.item span
.list-color span {
    color: #028fcc;
}
input.transparent-input {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #6e6d6c !important;
    border-radius: 4px !important;
    color: #fff
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.form-element label {
    display: inline-block;
    width: 150px;
}

.nav {
  background-color: #454545;
}
.right{
  margin-left: 0.5em;
  float: right;
}
.fill {
  height: 95vh;
  padding: 0;
}

#folders {
  list-style-type:none
}
