# Eclispe stuff
.metadata/

# Intellij stuff
*.iml
*.iws
target/
otakclient/.idea/workspace.xml
.idea/
out/

# Otak test stuff
otakclient.properties
otakserver.properties
keystore.jks
test.bat
test/artifacts/OtakServer_jar/Files/
test/artifacts/OtakClient_jar/Files/
test/artifacts/OtakServer_jar/files/
test/artifacts/OtakClient_jar/files/
otakclient/.idea/workspace.xml
test/artifacts/OtakClient_jar/windows/bundles/otakclient/app/serverfiles.properties
test/artifacts/OtakClient_jar/windows/bundles/otakclient/app/serverfiles.properties