<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href='css/gFont.css' rel='stylesheet' type='text/css'>
  
</head>

<body>

    <div class="jumbotron">
		<div class="container">
			<div class="caption">
				<h1>Welcome to <span>Otak</span></h1>
				<p>Smart - Easy - Quick - Secure</p>
				<a class="btn btn-start" href="#services">Start now</a>
          </div>
		</div>
	</div>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>