body
{
  background: #4c5358;
  font-family: 'Montserrat', sans-serif;
  
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  color: white;
  background: #40464b;

}

.navbar {
  padding-left: 10px;
  padding-right: 10px;
	background-color: #eeeff1;
  margin-bottom: 0;
  border-radius: 0;
  min-height: 0;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
  
  font-size: 1.2em;
}
.sidebar-nav li a {
  color: #eee;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.25);
  color: #eee;
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.btn-home {
  margin: 10px;
}

.icon{
  display: inline-block;
  padding: 15px;
  text-align: center;
}

.icon-img{
  font-size: 3em;
  
  color: #6699cc;
}

.icon-img:hover{
  text-decoration: none;
}

.logo {
  margin-top: 17px;
  display: block;
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
}

.right{
  float: right;
}
.File-labels{
  color: white
  

}
#line{
  align:center;
  width: 80%
}
.control-group{
  padding-bottom: 20px;
}