/* latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(../fonts/abel.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body
{
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;  
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  color: white;
  background: #40464b;

}

.navbar {
  padding-left: 0px;
  padding-right: 10px;
	background-color: #eeeff1;
  border-radius: 0;
  min-height: 0;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
  
  font-size: 1.2em;
}
.sidebar-nav li a {
  color: #eee;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.25);
  color: #eee;
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.btn-home {
  margin: 10px;
}
.fa-server{
padding-left:10px;
}
#options{

padding-bottom: 0px;
margin-bottom: 0px;

}
.icon{
  display: inline-block;
  padding: 15px;
  text-align: center;
}

.icon-img{
  font-size: 3em;
  
  color: #6699cc;
}

.icon-img:hover{
  text-decoration: none;
}

.logo {
  margin-top: 17px;
  display: block;
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;

}

.right{
  float: right;
}

.File-labels{
  color: #4c5358;
  

}

#line{
  align:center;
  width: 80%
}

.control-group{
  padding-bottom: 20px;
}

.input-xlarge{
  background-color: transparent;
  color: #4c5358;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #4c5358 2px ;
  width: 300px;
}

.fast .toggle-group { 
  transition: left 0.05s; 
  -webkit-transition: left 0.05s; 
}

/* trying to make the drop down
Calvin can u please help me with this =?

http://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_slide_toggle
*/
#panel2, #flip2 {
    padding: 0px;
    margin-left:0px;
    text-align: center;
    background-color: grey;
    width:250px;
    z-index: 100;
    
}

#panel2 {
    padding: 5px;
    display: none;
}