/*** Works on common browsers ***/
::selection {
    background-color: #076CB9;
    color: red;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #076CB9;
    color: red;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #076CB9;
    color: red;
}

::-ms-selection {
    background-color: #076CB9;
    color: red;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #076CB9;
    color: red;
}

body {
  overflow: hidden;
}

.setup {
    background: url(../images/slider/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.caption {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}
.centerinput {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
}
.caption h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}
.caption .btn-start {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
    margin-top: 40px;
}
.caption .btn-start:hover {
    color: #fff
}
.caption a:hover {
    color: gray;
}

.wh {
  color: white;
}

.btn:hover{
  color: gray;
}

.caption h1 span,
.item span
.list-color span {
    color: #028fcc;
}
input.transparent-input {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #6e6d6c !important;
    border-radius: 4px !important;
    color: #fff
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.form-element label {
    display: inline-block;
    width: 150px;
    background-color: white;
}
