.notification{
    position:fixed;
    top: 20px;
    right: 20px;;
    padding: 10px;
    font-size:12px;
    display:none;

    z-index: 999999;
}
.notification-success{
  background-color:#028fcc;
}

.notification-show{
    display:block!important;
}
