
body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;


    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */


#headerwrap {
	
    background: #005FD9; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(60deg, #320082, #0095FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(60deg, #320082, #0095FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(60deg, #320082, #0095FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(60deg, #320082, #0095FF); /* Standard syntax (must be last) */
}
	padding-top: 60px;
}

#headerwrap h1 {
	margin-top: 30px;
	color: white;
	font-size: 70px;
	
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white
}

/* intro Wrap */

#intro {
	padding-top: 50px;
	border-top: #bdc3c7 solid 5px;
}

#features {
	padding-top: 50px;
	padding-bottom: 50px;
}

#features .ac a{
	font-size: 20px;
}

/* Showcase Wrap */

#showcase {
	display: block;
	background-color: #838F99;
	padding-top: 50px;
	padding-bottom: 50px;
}

#showcase h1 {
	color: white;
}

#footerwrap {
	background-color: #2f2f2f;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}
.desaturate{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    opacity: 0.3;
}
.icon-bar{
    color:blue;
}
.form-control{
    border-radius: 0px;
}
.super{
    width: 50%;
    background-color: #CCC8D1;
    box-shadow: 0 0 0 20px #CCC8D1 inset,0 0 0 40px #CCC8D1 inset;
    height:500px;
    margin-left: 0px;
}
.super:hover{
    box-shadow: 0 0 0 20px #CCC8D1 inset,0 0 0 40px #7D06FF inset;
    -webkit-transition-duration: .5s;
}
.pine{
    width: 50%;
    background-color: #CCC8D1;
    box-shadow: 0 0 0 20px #CCC8D1 inset,0 0 0 40px #CCC8D1 inset;
    height:500px;
    margin-right: 0px;
    
}
.pine:hover{
    box-shadow: 0 0 0 20px #CCC8D1 inset,0 0 0 40px #006DFF inset;
    -webkit-transition-duration: .5s;
}
.pine-pic{
    height: 400px;
}

.logo{
    margin-top: 20px;
    height: 5em;
}
#banner{
    background: #FF1100;
}
#quote{
    margin-top: 50px;
    margin-bottom: 50px;
}
